@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nanum+Brush+Script&family=Pinyon+Script&family=Work+Sans:ital,wght@0,100;0,400;0,800;1,100;1,200;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa; /* light grey background */
}
.logo {
    border-radius: 60%;
    width:fit-content; /* Ajusta el tamaño según tus necesidades */
    height: 10em; /* Ajusta el tamaño según tus necesidades */
    background-color: #ffffff; /* Cambia el color de fondo si lo deseas */
    /* Agrega más estilos según tus necesidades */
}

/*MENU*/
.contenedor {
  display: flex;
  justify-content: flex-end;
}
.contenedor-header{
    background: #dedee0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #0f0e0e;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    background:#121629;
    color: rgba(255, 255, 255, 0.8);
}

.primerparrafo{
    color: white;
    font-style: italic;
    text-align: center;
    font-size:1.5em;
    height: 8em;
}
.nav-responsive{
    background-color: black;
    color: #fffffe;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}
#nav.responsive {
    display: block;
    background-color: #0c1439;
    /* Agregar otros estilos necesarios */
}


/* Estilos para los elementos de la lista en el menú */
#nav.responsive ul {
    /* Agregar estilos de lista, como padding y margin */
    color: #0f0e0e;
    margin: 0 15px;
    padding: 3px;
}

/*SECCION INICIO*/
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), url(image/Justicia.foto1.png);
    background-size: cover;
    height: 100vh;
    color: #fffffe;
    display: flex;
    align-items:flex-start;
    height: 100vh;
    
}
.inicio h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.inicio h2 {
    font-size: 1.5em;
    font-family: 'Courgette', cursive;
    color: #666;
}

.inicio p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1em;
    line-height: 1.8;
}

.inicio .redes {
    color: #fffffe;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fffffe;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .redes:hover{
    background-color: #dedee0;
    color: #0f0e0e;
}
.sobremi{
    background: #dedee0;
    color:#252a25;
    padding: 20px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
    text-align: center;
    
}
.sobremi h2 {
    font-size: 3em;
    font-family: 'Courgette', cursive;
    margin-bottom: 20px;
}

.sobremi p {
    font-size: 1.2em;
    line-height: 1.8;
    margin-bottom: 20px;
}


/*SECCION CONTACTO*/
.contacto{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), url(image/Logoposible1.png);
    background-color: #1e2326;
    color: #fffffe;
    padding: 50px 0;
    margin: 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 100%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252a2e;
    color: #fff;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #b8c1ec;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
    background-color: black;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #252a2e;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: #b8c1ec;
    display: inline-block;
    margin-right: 20px;
}
/* Carrusel */
.carousel-inner {
    /* padding: 40px 40px 80px 40px; */
    /* max-height: 600px;  */
    overflow: hidden; 
  }
  
  .carousel-item img {
    padding: 10px;
    background-color: #ddd;
    width: 90%; /* Ancho del contenedor */
    max-height: 600px; 
    object-fit: hidden; /* Ajusta el contenido sin deformarlo */
    height:40%;/* Alto del contenedor */
    margin: 40px 5px 40px 5px;
  }

footer {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Ajusta este valor según la distancia deseada */
}

.footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-text {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 5px;
    font-family: 'Quicksand', sans-serif;
}

.icons-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid #333;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.icons-redes-sociales i {
    color: black;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.icons-redes-sociales a:hover {
    background-color: rgb(24, 179, 210);
    border: 2px solid rgb(4, 132, 201);
}

.icons-redes-sociales a:hover i {
    color: black;
}

.derecho-de-autor{
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}
div.contenedor-formulario {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* contacto */
.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group label {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.btn-submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0056b3;
}


/* Efecto de aparición */
.scroll-effect {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.scroll-effect.visible {
    opacity: 1;
    transform: translateY(0);
}



/* SECCION RESPONSIVE */
@media screen and (max-width: 980px) {
    nav {
        display: none;
    }
    .nav-responsive {
        display: block;
    }
    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252a25;
        width: 180px;
    }
    nav.responsive ul {
        display: block !important;
    }
    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

@media screen and (max-width: 700px) {
/* Ajuste de inicio */
.inicio p{
    margin-top:auto;
    font-size: 18px;
}

    /* Ajustes para la sección "sobremi" */
    .sobremi .contenido-seccion {
        width: 100%;
    }

    /* Ajustes para la sección "carrusel" */
    #carouselExampleAutoplaying .carousel-item img {
        max-width: 100%;
        height: auto;
    }

    /* Ajustes para el menú de navegación */
    .navbar-nav {
        flex-direction: column;
        margin-top: 10px;
    }
    .navbar-nav .nav-item {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    .navbar-form {
        margin-top: 10px;
    }
}
